body {
  display: flex;
  justify-content: center;
  background-color: #E6F8FF;
  margin: 0;
  padding: 2rem;
  font-family: Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

